@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bugaga";
  src: local("Lato"), url(../public/font.ttf) format("truetype");
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    /* font-family: Bugaga, serif; */
    background-color: black;
    /* font-family: "Permanent Marker", cursive; */
    font-weight: 400;
    font-style: normal;
  }

  #root {
    overflow: hidden;
  }

  .img-hor {
    transform: rotateY(180deg);
  }

  .img-vert {
    transform: rotateX(180deg);
  }

  .blurred-border-top::before {
    content: "";
    position: absolute;
    top: -40px;
    right: -20px;
    left: -20px;
    height: 80px;
    width: 120%;
    overflow-y: hidden;
    background: inherit;
    box-shadow: 0 10% 10% rgba(0, 0, 0, 0.5);
    filter: blur(14px);
    z-index: 20;
  }

  .blurred-border-bottom::after {
    content: "";
    position: absolute;
    bottom: -40px;
    right: -20px;
    left: -20px;
    height: 80px;
    width: 120%;
    overflow-y: hidden;
    background: inherit;
    box-shadow: 0 10% 10% rgba(0, 0, 0, 0.5);
    filter: blur(14px);
    z-index: 20;
  }

  .updated-dark .react-tweet-theme {
    --tweet-body-font-size: 0.75rem;
    --tweet-body-line-height: 1rem;
  }

  #banner {
    background-image: url("../public/banner.webp");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .block1 {
    background-image: url("../public/bg1.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .block2 {
    background-image: url("../public/bg2.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .rfm-marquee-container {
    overflow: unset !important;
    height: 50vh;
    overflow-x: hidden;
  }

  .fade {
    animation: fadeInOut 3s ease-in-out infinite;
  }

  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
