@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&display=swap");

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    @apply cursor-default;
  }

  body {
    background-color: #39442f;
    font-family: "Fondamento", cursive;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    word-spacing: 5px;
  }

  #root {
    overflow: hidden;
  }

  .img-hor {
    transform: rotateY(180deg);
  }

  .img-vert {
    transform: rotateX(180deg);
  }

  .inside {
    background-color: rgba(255, 255, 255, 0.96);
  }

  .float {
    overflow: hidden;
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
  }

  @keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-20px);
    }
    100% {
      transform: translatey(0px);
    }
  }

  .blurred-border-top::before {
    content: "";
    position: absolute;
    top: -40px;
    right: -20px;
    left: -20px;
    height: 80px;
    width: 120%;
    overflow-y: hidden;
    background: inherit;
    box-shadow: 0 10% 10% rgba(0, 0, 0, 0.5);
    filter: blur(14px);
    z-index: 20;
  }

  .blurred-border-bottom::after {
    content: "";
    position: absolute;
    bottom: -40px;
    right: -20px;
    left: -20px;
    height: 80px;
    width: 120%;
    overflow-y: hidden;
    background: inherit;
    box-shadow: 0 10% 10% rgba(0, 0, 0, 0.5);
    filter: blur(14px);
    z-index: 20;
  }

  .updated-dark .react-tweet-theme {
    --tweet-body-font-size: 0.75rem;
    --tweet-body-line-height: 1rem;
  }

  #banner {
    background-image: url("../public/banner.webp");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .zadnik {
    background-image: url("../public/zadnik-desk.webp");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .block1 {
    background-image: url("../public/block1/bg1.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .block2 {
    background-image: url("../public/block2/bg2.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* .block3 {
    background-image: url("../public/block3/bg3.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .block4 {
    background-image: url("../public/block4/bg4.png");
    background-repeat: no-repeat;
    background-size: cover;
  } */

  .rfm-marquee-container {
    overflow: unset !important;
    height: 50vh;
    overflow-x: hidden;
  }

  .fade {
    animation: fadeInOut 3s ease-in-out infinite;
  }

  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
