@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: black;
    /* font-family: "Permanent Marker", cursive; */
    font-weight: 400;
    font-style: normal;
  }
}

#root {
  overflow: hidden;
}

.img-hor {
  transform: rotateY(180deg);
}

.img-vert {
  transform: rotateX(180deg);
}

.updated-dark .react-tweet-theme {
  --tweet-body-font-size: 0.75rem;
  --tweet-body-line-height: 1rem;
}

#banner {
  background-image: url("../public/banner.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.block1 {
  background-repeat: no-repeat;
  background-size: contain;
}

.rfm-marquee-container {
  overflow: unset !important;
  height: 50vh;
  overflow-x: hidden;
}

.fade {
  animation: fadeInOut 3s ease-in-out infinite;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
